.header {
  height: 55px;
  color: #ffffff;
  background: #2c2c2c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;

  div,
  a {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  svg:nth-child(1) {
    margin-top: 0px;
    width: 130px;
  }

  .slack-logo {
    width: 30px;
    height: 30px;
  }

  p {
    display: inline-block;
    padding-left: 18px;
    color: #ffffff;
    font-size: 0.85rem;
  }

  form {
    height: 28px;
    display: inline-block;
    line-height: 1;
    padding-right: 6px;
    position: relative;

    input[type="submit"] {
      height: 100%;
      padding: 0px 12px;
      color: #ffffff;
      font-size: 0.85rem;
      font-weight: 300;
      background-color: #a43e3e;
      border: none;
      border-radius: 0px 3px 3px 0px;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    input[type="text"] {
      width: 160px;
      border: none;
      height: 100%;
      padding: 0px 10px;
      font-size: 0.8rem;

      &:focus {
        outline: none;
      }

      &:nth-child(1) {
        border-radius: 3px 0px 0px 3px;
        border-right: 1px rgb(238, 238, 238) solid;
      }
    }

    .error {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 351px;
      background-color: rgb(223, 75, 75);
      border-radius: 3px 0px 0px 3px;
      padding-left: 10px;
      font-size: 0.9rem;
    }
  }
}
