.header{
  height: 55px;
  color: #FFFFFF;
  background: #2C2C2C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;

  div, a{
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  svg:nth-child(1){
    margin-top: 0px;
    width: 220px;
  }

  .slack-logo{
    width: 30px;
    height: 30px;
  }

  p{
    display: inline-block;
    padding-left: 18px;
    color: #FFFFFF;
    font-size: 0.85rem;
  }

  form{
    height: 28px;
    display: inline-block;
    line-height: 1;
    padding-right: 6px;

    input[type=submit]{
      height: 100%;
      padding: 0px 12px;
      color: #FFFFFF;
      font-size: 0.85rem;
      font-weight: 300;
      background-color: #a43e3e;
      border: none;
      border-radius: 0px 3px 3px 0px;
      cursor: pointer;

      &:focus{
        outline: none;
      }
    }

    input[type=text]{
      width: 180px;
      border: none;
      border-radius: 3px 0px 0px 3px;
      height: 100%;
      padding: 0px 10px;
      font-size: 0.8rem;

      &:focus{
        outline: none;
      }
    }
  }
}