.utils {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px 0px 35px;
  height: 50.797px;
}

.search {
  position: relative;

  input {
    display: block;
    padding-left: 34px;
    height: 24px;
    width: 150px;
    border-radius: 30px;
    border: 1px solid #e5e5e5;
    background: #f0f0f0;
    font-size: 13px;

    &:focus {
      outline: none;
    }
  }

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    width: 16px;
    height: 16px;
  }
}

.device-switch {
  width: 120px;
  padding: 12px 40px 0 0;
  fill: #2c2c2c;
  cursor: pointer;
}

.nav {
  h1 {
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
    color: rgb(233, 233, 233);
  }

  .active {
    color: #2c2c2c;
  }
}
