.utils{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 40px 25px 35px;
}

.search{
  position: relative;

  input{
    display: block;
    padding-left: 34px;
    height: 24px;
    width: 150px;
    border-radius: 30px;
    border: 1px solid #E5E5E5;
    background: #F0F0F0;
    font-size: 13px;

    &:focus{
      outline: none;
    }
  }

  svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    width: 16px;
    height: 16px;
  }
}