@import url("https://fonts.googleapis.com/css?family=Palanquin:200,300,600");
html {
  font-size: 16px; }

body {
  font-family: 'Palanquin', serif;
  line-height: 1.45;
  font-family: 'Palanquin', sans-serif; }
  body:focus {
    outline: none; }

h1, h2, h3, h4 {
  margin: 1.414rem 0 0.3rem;
  font-weight: 600;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 1.7rem; }

h2 {
  font-size: 1.953rem; }

h3 {
  font-size: 1.563rem; }

h4 {
  font-size: 1.25rem; }

p {
  font-size: 0.8rem;
  font-weight: 300; }

a {
  color: #D2D2D2;
  font-size: 0.8rem;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 0.4px; }

.header {
  height: 55px;
  color: #FFFFFF;
  background: #2C2C2C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px; }
  .header div, .header a {
    display: flex;
    align-items: center;
    cursor: pointer; }
  .header svg:nth-child(1) {
    margin-top: 0px;
    width: 220px; }
  .header .slack-logo {
    width: 30px;
    height: 30px; }
  .header p {
    display: inline-block;
    padding-left: 18px;
    color: #FFFFFF;
    font-size: 0.85rem; }
  .header form {
    height: 28px;
    display: inline-block;
    line-height: 1;
    padding-right: 6px; }
    .header form input[type=submit] {
      height: 100%;
      padding: 0px 12px;
      color: #FFFFFF;
      font-size: 0.85rem;
      font-weight: 300;
      background-color: #a43e3e;
      border: none;
      border-radius: 0px 3px 3px 0px;
      cursor: pointer; }
      .header form input[type=submit]:focus {
        outline: none; }
    .header form input[type=text] {
      width: 160px;
      border: none;
      height: 100%;
      padding: 0px 10px;
      font-size: 0.8rem; }
      .header form input[type=text]:focus {
        outline: none; }
      .header form input[type=text]:nth-child(1) {
        border-radius: 3px 0px 0px 3px;
        border-right: 1px #eeeeee solid; }

.profile .account {
  display: block;
  margin: 0 auto;
  width: 600px;
  margin-bottom: 80px; }
  .profile .account button {
    background: #fb4141;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    padding: 12px 14px;
    font-size: 16px; }

.utils {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px 0px 35px;
  height: 50.797px; }

.search {
  position: relative; }
  .search input {
    display: block;
    padding-left: 34px;
    height: 24px;
    width: 150px;
    border-radius: 30px;
    border: 1px solid #e5e5e5;
    background: #f0f0f0;
    font-size: 13px; }
    .search input:focus {
      outline: none; }
  .search svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    width: 16px;
    height: 16px; }

.device-switch {
  width: 120px;
  padding: 12px 40px 0 0;
  fill: #2c2c2c;
  cursor: pointer; }

.nav h1 {
  display: inline-block;
  margin-right: 30px;
  cursor: pointer;
  color: #e9e9e9; }

.nav .active {
  color: #2c2c2c; }

.home {
  height: calc(100vh - 55px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  .home > div:nth-of-type(1) {
    padding-left: 80px; }
  .home h2,
  .home a,
  .home p {
    color: #ebebeb;
    background: #ebebeb;
    border-radius: 3px;
    display: inline-block; }
  .home h1 {
    background: #2c2c2c;
    color: #ffffff;
    font-size: 2rem;
    margin: 0 40px 0 0;
    padding: 5px 20px 10px 20px;
    display: table; }
  .home a {
    display: block;
    width: 50%;
    margin-bottom: 15px;
    padding-left: 2px; }
  .home img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); }

.scrollSites {
  padding-top: 25px;
  width: 100vw;
  overflow-x: scroll;
  white-space: nowrap;
  overflow-y: visible;
  pointer-events: none; }
  .scrollSites > div {
    display: inline-block;
    width: 35%;
    height: auto;
    vertical-align: top;
    padding-right: 30px;
    animation: scroll 15000ms linear infinite; }
    .scrollSites > div div {
      position: relative;
      display: flex;
      justify-content: space-between; }

@keyframes scroll {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-300%); } }

.scroller {
  width: calc(100vw - 35px);
  height: calc(100vh - 128px);
  overflow-x: auto;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  padding-left: 35px; }

.scroller > div:nth-of-type(1) {
  animation-delay: 0.1s; }

.scroller > div:nth-of-type(2) {
  animation-delay: 0.2s; }

.scroller > div:nth-of-type(3) {
  animation-delay: 0.3s; }

.scroller > div:nth-of-type(4) {
  animation-delay: 0.4s; }

.site {
  display: inline-block;
  vertical-align: top;
  margin-right: 50px;
  height: 62vh;
  opacity: 0;
  animation: bounceIn 400ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards; }
  .site img {
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    display: block; }
  .site a {
    display: block;
    margin-bottom: 15px;
    padding-left: 2px; }
  .site div {
    position: relative;
    display: flex;
    justify-content: space-between; }
  .site:last-child {
    padding-right: 35px; }
  .site svg {
    position: absolute;
    bottom: -38%;
    left: 50%;
    width: 35px;
    transform: translate(-50%, -50%);
    cursor: pointer; }

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    -webkit-transform: scale3d(1.01, 1.01, 1.01);
    transform: scale3d(1.01, 1.01, 1.01); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.loader {
  height: calc(100%);
  width: 100%;
  flex-direction: column;
  background: #ffffff;
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2c2c2c;
  text-align: center; }
  .loader h1 {
    margin-bottom: 2rem; }
  .loader div {
    margin-top: -70px;
    width: 35%;
    max-width: 600px; }
  .loader svg {
    width: 100%;
    animation: float 1500ms ease-in-out infinite; }

@keyframes float {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-8px); }
  100% {
    transform: translateY(0px); } }
